/*-- scss:rules --*/
/* Some colors */
.red {
  color: #F34213;
}

.gray {
  color: #5E6974;
}

.green {
  color: #00998A;
}

.blue {
  color: #0000FF;
}

.orange {
   color: #FF8811;
}

.violet {
  color: #DA70D6;
}

.purple {
  color: #7A378B;
}

.olive {
  color: #808000;
}     

